#Att1 {
    min-width: fit-content;
    min-height: fit-content;
}

#Att1, #map-test, .fit {
    width: calc(95vw - 35px);
    height: calc(90vh - 35px);
}

#context, #point-context {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: darkgrey;
    border-radius: 3px;
    padding: 10px;
    font-family: arial;
}

.data {
    font-weight: bolder;
    color: whitesmoke;
}

#data-view {
    font-size: large;
    width: 400px;
    margin-bottom: 50px;
}

.fit {
    background-color: gainsboro;
}
