.land:not(#divider2):not(#divider1) {
    fill: black;   /* map background colour */
    stroke: white;
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke-width: 1;
    cursor: pointer;
}

.land:not(#divider2):not(#divider1):hover {
    fill: white;   /* map background colour */
    stroke: black;
    stroke-opacity: 1;
    fill-opacity: .5;
    stroke-width: 1;
    color: black;
}

.selected {
    fill: yellow !important;
    stroke: orange !important;
}

.data-point {
    fill: green;
    stroke: red;
    stroke-width: 1;
    fill-opacity: .5;
    cursor: crosshair;
}

.selected-circle {
    fill: red;
    stroke: green;
}
